/* suggested for you panel + user switch */
.x1dr59a3.x13vifvy.x3hkoc4 {
  display: none;
}

/* stories box */
._aac4._aac5._aac6 {
  border: none;
  background: none;
}

/* stories box */
div[style*='max-width: 630px'] {
  max-width: 700px !important;
}

/* posts */
div[style*='min(470px, 100vw)'],
div[role="button"][aria-hidden="true"][tabindex="0"],
div._aamn,
.x1i10hfl:not(.xjbqb8w) ._aagu{
	width:700px !important;
}

/* targetting the posts also affects the popup when commenting on a post, so undo
the changes*/
.x1qjc9v5.x9f619.x78zum5.xdt5ytf.x1iyjqo2.xl56j7k,
.x1n2onr6.xzkaem6 {
  width: 100% !important;
}

#open-media-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 28px;
  height: 28px;
  background-color: #010f1b;
  border: none;
  cursor: pointer;
}

#open-media-button.story {
  right: 22px;
  top: 66px;
}

#open-media-button.invalid {
  background-color: #424242;
  opacity: 0.3;
}
