/* suggested for you panel + user switch */
._aak6{
	display: none;
}

/* stories box */
._aac4._aac5._aac6 {
	border: none;
	background: none;
}

/* main content container */
._aalv._aalx._ajrr,
/* center main content*/
._aam1._ajrq._aam5._agh3 {
	max-width: 700px !important;
}

#open-media-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: absolute;
	right: 12px;
	top: 12px;
	width: 28px;
	height: 28px;
	background-color: #010f1b;
	border: none;
	cursor: pointer;
}

#open-media-button.story {
	right: 22px;
	top: 66px;
}